/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
  background: #212121;
  font-size: 25px;
  line-height: 32px;
  color: #ffffff;
  word-wrap: break-word;
  font-family: "Open Sans", sans-serif;
}

header {
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  margin-top: 100px;
  text-align: center;
  font-family: "Bree Serif", "serif";
  color: #fff;
}

nav {
  text-align: center;
  margin: 50px 50px;
  background-color: #e64a19;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  font-size: 24px;
  line-height: 40px;
  padding: 5px;
  border: 1px solid #000;
  background-color: #e64a19;
}

nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav a:hover {
  background-color: #000000;
}

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute;
  top: 54px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 190px;
  float: none;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

/* Change this in order to change the Dropdown symbol */
li > a:after {
  content: " +";
}
li > a:only-child:after {
  content: "";
}
