article {
    width: 800px;
}

h2 {
    color: #808080;
    text-align: center;
}

p {
    padding: 20px;
    margin: 0;
}

.odd {
    color: #ddd;
    background-color: #41484E;
}

.even {
    color: #eee;
    background-color: #5E6F7D;
}