html, body {
    font-family: "serif", "sans-serif";
   
}

/* Shaping the background image and color*/
div {
    width: 100%;
    height: 100%;
    background-image: url(./crow-1002849.jpg);
    background-color: #b07f1d;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 10px solid #B0893B;
    border-right: 10px solid #5C471E;
    border-bottom: 10px solid #5C471E;
    border-left: 10px solid #B0893B;
}

/* Shaping the poem */
article {
    width: 50%;
}

h1 {
    color: #F4C76C;
    font-size: 35px;
    margin-bottom: 3px;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 18px;
}

article p {
    color: #fff;
    text-indent: 5%;
}

/* Targeting the text in quotation marks and the phrase "nobody else" */
q {
    letter-spacing: 2px;
    font-style: italic;
}

span {
    border-bottom: 3px solid #d9910c;
}

/* Footer section */
footer {
    border-top: 10px double #b07f1d;
}

.author-bio {
    color:#F4C76C;
    margin-top: 0;
}

.source {
    font-weight: bold;
}